<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <% if (process.env.NODE_ENV === 'production') { %>
      <link rel="stylesheet" href="/stylesheets/style-prod.css" />
    <% } else { %>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    <% } %>
  </head>
  <body>
    <div id="react-app">Loading ...</div>
    <% if (process.env.NODE_ENV === 'production') { %>
      <script src="/javascripts/build-prod.js"></script>
    <% } else { %>
      <script src="/javascripts/build.js"></script>
    <% } %>
  </body>
</html>
